[Desktop Entry]
Name=Chocolate Hexen
Exec=chocolate-hexen
Icon=chocolate-doom
Type=Application
Comment=Conservative source port
Categories=Game;ActionGame;
Keywords=first;person;shooter;doom;vanilla;
