[Desktop Entry]
Name=Chocolate Heretic
Exec=chocolate-heretic
Icon=chocolate-doom
Type=Application
Comment=Conservative source port
Categories=Game;ActionGame;
Keywords=first;person;shooter;doom;vanilla;
